// 全局样式文件

view {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  color: $base-color;
  font-size: $base-font;
}

.p-40 {
  padding: 20rpx 40rpx;
}

.primary {
  background-color: rgb(206, 17, 38) !important;
  border: rgb(206, 17, 38) !important;
}

uni-page-body {
  height: 100%;
}

html, body {
  background-color: $base-bg;
}
