// 全局样式文件

view {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  color: $base-color;
  font-size: $base-font;
}

.p-40 {
  padding: 20rpx 40rpx;
}

.primary {
  background-color: rgb(206, 17, 38) !important;
  border: rgb(206, 17, 38) !important;
}

uni-page-body {
  height: 100%;
}

html,
body {
  background-color: $base-bg;
}

uni-toast .uni-toast {
  background-color: $primary-color;
  font-size: $base-font;
  padding: 20rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.status-in {
  color: #5ac725;
}
.status-out {
  color: #f56c6c;
}
.status-soon {
  color: #f9ae3d;
}

.text-nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
